	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/08/2018 09:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 50px;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-001-advertising:before { content: "\f100"; }
.flaticon-002-branding:before { content: "\f101"; }
.flaticon-003-business-plan:before { content: "\f102"; }
.flaticon-004-competition:before { content: "\f103"; }
.flaticon-005-cost:before { content: "\f104"; }
.flaticon-006-feedback:before { content: "\f105"; }
.flaticon-007-customer:before { content: "\f106"; }
.flaticon-008-debt:before { content: "\f107"; }
.flaticon-009-goal:before { content: "\f108"; }
.flaticon-010-growth:before { content: "\f109"; }
.flaticon-011-idea:before { content: "\f10a"; }
.flaticon-012-location:before { content: "\f10b"; }
.flaticon-013-negotiation:before { content: "\f10c"; }
.flaticon-014-outsourcing:before { content: "\f10d"; }
.flaticon-015-planning:before { content: "\f10e"; }
.flaticon-016-production:before { content: "\f10f"; }
.flaticon-017-project-management:before { content: "\f110"; }
.flaticon-018-service:before { content: "\f111"; }
.flaticon-019-risk:before { content: "\f112"; }
.flaticon-020-solution:before { content: "\f113"; }
.flaticon-021-solution-1:before { content: "\f114"; }
.flaticon-022-strategy:before { content: "\f115"; }
.flaticon-023-teamwork:before { content: "\f116"; }
.flaticon-024-value:before { content: "\f117"; }